<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Railator - train information</title>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Railator" />
    <link rel="apple-touch-icon" href="/railator-192.png" />
    <meta name="theme-color" content="#007BFF" />

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="railator.css" />

    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="pathfinder.js"></script>
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Railator</a>
    </nav>
    <main class="content col-xs-12 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
        <div class="d-flex mb-4 mt-2 justify-content-center">
            <div class="btn-group" role="group">
                <a href="/railator" class="btn btn-link">Railator</a>
                <a href="#" class="btn btn-link">Pathfinder</a>
            </div>
        </div>

        <div class="my-2 d-flex justify-content-center" v-if="loading">
            <i class="fas fa-2x fa-compass fa-spin"></i>
        </div>

        <div v-if="!routeSelected">
            <div class="form-group">
                <label for="from">Starting at</label>
                <select id="from" class="form-control select2">
                    <option></option>
                    <option v-for="(key, station) in stationLookup" :key="key" :value="key">{{ station }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="to">Destination</label>
                <select id="to" class="form-control select2">
                    <option></option>
                    <option v-for="(key, station) in stationLookup" :key="key" :value="key">{{ station }}</option>
                </select>
            </div>

            <button type="button" class="btn btn-primary" @click="findRouteFromSearch"><i class="fas fa-search"></i> Find Route</button>
            <button type="button" class="btn btn-success" @click="saveRoute"><i class="fas fa-save"></i> Save Route</button>

            <hr/>

            <div class="card my-2" v-for="route in saved" :key="`${route[0]}-${route[1]}`">
                <div class="card-body">
                    <a href="#" @click="findRoute(route[0], route[1])">
                        <strong>{{ stations[route[0]] }} &ndash; {{ stations[route[1]] }}</strong>
                    </a><br/>
                    <a href="#" class="text-danger" @click="removeSavedRoute(route[0], route[1])"><small>remove</small></a>
                </div>
            </div>
        </div>

        <div v-if="routeSelected">
            <button type="button" class="btn btn-primary mb-2" @click="changeMode(false)">Clear Route</button>

            <h4>
                {{ stations[from] }} &ndash; {{ stations[to] }}
                <a :href="`#${from}/${to}`"><i class="fas fa-link"></i></a>
            </h4>

            <p>
                <strong>Journey time</strong><br/>
                {{ routeData.time.hours }}h {{ routeData.time.minutes }}m
            </p>

            <div class="timeline">
                <div class="timeline-item" v-for="step in routeData.steps" :key="step.line">
                    <div class="timeline-content">
                        <div :class="`transport-line transport-line-${lineLookup[step.line].substr(0, 3)}`">
                            <span>{{ step.line }}</span>
                        </div>
                        <small class="text-muted">from</small> {{ stations[step.from] }}<br/>
                        <small class="text-muted">to</small> {{ stations[step.to] }}
                        <div class="alert mb-1" v-for="disruption in activeDisruptions[lineLookup[step.line]]"
                             :key="disruption.id" :class="alertClass(disruption.type)">
                            <button class="btn btn-link btn-block text-left pl-0 alert-link" data-toggle="collapse"
                                    :data-target="`#disruption-${disruption.id}`">
                                <small><strong>{{ disruption.type }}</strong> at <strong>{{ stations[disruption.atcoCode] }}</strong></small>
                            </button>

                            <p class="collapse mb-0" :id="`disruption-${disruption.id}`">
                                <small>{{ disruption.description }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>