html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer !important;
}

nav {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center !important;
}

nav .back {
    margin-right: 1em;
}

.search {
    z-index: 998;
}

.cancelled {
    cursor: default;
    text-decoration: line-through;
}

.timeline {
    position: relative;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background: #007BFF;
    top: 1em;
    bottom: 0;
    left: 0;
}

.timeline-item {
    padding: 0.5em 1em;
    position: relative;
}

.timeline > .timeline-item:last-of-type::after {
    content: '';
    display: block;
    width: 3px;
    background: white;
    position: absolute;
    top: 1.7em;
    bottom: 0;
    left: 0em;
    z-index: 1;
}

.timeline-content::after {
    content: '';
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    top: 0.5em;
    left: -0.31em;
    background: white;
    border: 3px solid #007BFF;
    border-radius: 50%;
    z-index: 1;
    margin-top: 0.4em;
}

.point-type {
    display: inline-block;
    font-size: 0.7em;
    color: white;
    padding: 0.1em 0.6em;
    border-radius: 0.8em;
    cursor: help;
    filter: opacity(0.8);
}

.point-type.routing {
    background: var(--pink);
}

.point-type.pass {
    background: var(--purple);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
}

.footer {
    text-align: center;
}

.service-details {
    margin-bottom: 1em;
}

.service-details p {
    margin-bottom: 0;
}

.service-details .dti {
    display: inline-block;
    width: 30px;
}

.transport-line {
    margin-bottom: 0.5em;
}

.transport-line span {
    display: inline-block;
    padding: 0.1em 0.75em;
    border-radius: 3px;
}

.transport-line-VIC span {
    background: #00a0e2;
}

.transport-line-PIC span {
    background: #0019a8;
    color: white;
}

.transport-line-WTC span {
    background: #76d0bd;
}

.transport-line-NTH span {
    background: black;
    color: white;
}

.transport-line-MET span {
    background: #751056;
    color: white;
}

.transport-line-JUB span {
    background: #6a7278;
    color: white;
}

.transport-line-DIS span {
    background: #007229;
    color: white;
}

.transport-circle-CIR span {
    background: #ffce00;
}

.transport-line-HAM span {
    background: #d799af;
}

.transport-line-CEN span {
    background: #dc241f;
    color: white;
}

.transport-line-BAK span {
    background: #894e24;
    color: white;
}

.transport-line-OVG span {
    background: #e86a10;
}

.transport-line-ELZ span {
    background: #6950a1;
    color: white;
}

.transport-line-DLR span {
    background: #00afad;
}

.transport-line-TRM span {
    background: #66cc00;
}
