html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer !important;
}

nav {
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center !important;
}

nav .back {
    margin-right: 1em;
}

.search {
    z-index: 998;
}

.cancelled {
    cursor: default;
    text-decoration: line-through;
}

.timeline {
    position: relative;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background: #007BFF;
    top: 1em;
    bottom: 0;
    left: 0;
}

.timeline-item {
    padding: 0.5em 1em;
    position: relative;
}

.timeline > .timeline-item:last-of-type::after {
    content: '';
    display: block;
    width: 3px;
    background: white;
    position: absolute;
    top: 1.7em;
    bottom: 0;
    left: 0em;
    z-index: 1;
}

.timeline-content::after {
    content: '';
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    top: 0.5em;
    left: -0.31em;
    background: white;
    border: 3px solid #007BFF;
    border-radius: 50%;
    z-index: 1;
    margin-top: 0.4em;
}

.point-type {
    display: inline-block;
    font-size: 0.7em;
    color: white;
    padding: 0.1em 0.6em;
    border-radius: 0.8em;
    cursor: help;
    filter: opacity(0.8);
}

.point-type.routing {
    background: var(--pink);
}

.point-type.pass {
    background: var(--purple);
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1;
}

.footer {
    text-align: center;
}